@model MVC_handin.Models.Product

@{
    ViewBag.Title = "Details";
}

<h1>Details of product @Model.ID</h1>

<p>ID: @Model.ID</p>
<p>Name: @Model.Name</p>
<p>Description: @Model.Description</p>
<p>Price: @Model.Price</p>